<h2>Creation Lab</h2>
<h4>Make a new friend!</h4>
  <br><br>
<form action="/virtpals" method="post">
  <h3><label>Name</label>
    <input type="text" name="name"></h3><br>
  <h3><label>Color</label>
    <select name="color">
      <option value="blue" selected>Blue</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
    </select></h3><br>
  <h3><label>Texture</label>
    <select name="texture">
      <option value="smooth" selected>Smooth</option>
      <option value="bumpy">Bumpy</option>
      <option value="furry">Furry</option>
    </select></h3><br>
  <h3><label>Mood</label>
    <select name="mood">
      <option value="happy" selected>Happy</option>
      <option value="silly">Silly</option>
      <option value="stoked">Stoked</option>
    </select></h3><br>
  <h3><label>Height</label>
    <select name="height">
      <option value="short" selected>Short</option>
      <option value="medium">Medium</option>
      <option value="tall">Tall</option>
    </select></h3><br>
  <h3><label>Build</label>
    <select name="build">
      <option value="thin" selected>Thin</option>
      <option value="muscular">Muscular</option>
      <option value="fat">Fat</option>
    </select></h3><br><br>
  <input type="submit" value="Create">
</form><br>
