<h2>Creation Lab</h2>
<p><h4>Make a new friend!</h4></p>
<p>(Or <a href="/creators/home">return to Your Gallery</a>)</p>
  <br>

<form action="/virtpals" method="POST">

  <h3><label>Name</label>
    <input type="text" name="name" required></h3>

  <h3><label>Color</label>
    <select name="color">
      <option value="blue" selected>blue</option>
      <option value="red">red</option>
      <option value="green">green</option>
    </select></h3>

  <h3><label>Height</label>
    <select name="height">
      <option value="short" selected>short</option>
      <option value="medium">medium</option>
      <option value="tall">tall</option>
    </select></h3>

  <h3><label>Build</label>
    <select name="build">
      <option value="thin" selected>skinny</option>
      <option value="medium">medium</option>
      <option value="fat">fat</option>
    </select></h3>

  <h3><label>Texture</label>
    <select name="texture">
      <option value="smooth" selected>smooth</option>
      <option value="bumpy">bumpy</option>
      <option value="furry">furry</option>
    </select></h3>

  <h3><label>Mood</label>
    <select name="mood">
      <option value="happy" selected>happy</option>
      <option value="silly">silly</option>
      <option value="stoked">stoked</option>
    </select></h3><br>

  <input type="submit" value="Create">
</form><br>
