<h2>Account Info</h2>
  <br>
<form action="/creators/<%= @creator.id %>" method="post">
  <input type="hidden" name="hidden" value="patch">
  <h4><label>Username:</label>
  <input type="text" name="username" value="<%= @creator.username %>"></h4><br>
  <h4><label>Password:</label>
  <input type="text" name="password"></h4><br>
  <input type="submit" value="Update">
</form><br>
<a href="/creators/home">Return to your Gallery</a><br><br>