<h2>Your Gallery</h2>

<form action="/logout" method="GET">
  <input type="submit" value="Log Out">
</form><br><br>

<% if @pals.empty? %>
  <h4>You have no virtpals. Create some!</h4><br>
<% end %>

<form action="/virtpals/new" method="GET">
  <input type="submit" value="Create">
</form><br><br>

<% if !@pals.empty? %>
  <% @pals.each do |p| %>
    <a href="/virtpals/<%= p.id %>/edit"><%= p.name %></a>
  <% end %>
<% end %><br><br>