  <br>
<form action="/virtpals/new" method="get">
  <input type="submit" value="Create">
</form>
  <br>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>
  <br><br><br>
<% if @pals.empty? %>
  <h4>You have no virtpals. Create some!</h4>
<% else %>
  <% @pals.each do |p| %>
    <a href="/virtpals/#{p.id}"><%= p.name %></a>
  <% end %>
<% end %>
  <br><br><br>