<h2>Sign Up</h2>
  <br>
<form action="/login" method="post">
  <h4><label>Email:</label>
  <input type="text" name="email"></h4>
  <h4><label>Password:</label>
  <input type="text" name="password"></h4>
  <input type="submit" value="Sign Up">
</form>